div.feed-shared-update-v2:has(div):has(div):has(a.app-aware-link):has(
    div.feed-shared-conversations__content--with-comment
  ) {
  display: none !important;
}

/* ai prompt below posts */
button[class*='feed-shared-coach-prompt'] {
  display: none !important;
}

/* ai prompt on job pages */

[class*='coach-'] {
  display: none !important;
}

/* star symbol at top right of each post */
[aria-owns*='coach-'] {
  display: none !important;
}
